<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body class="bodyS">

<div class = "container-fluid" >
	<div class= "container-fluid baner">
		<div class="row">	
			<div class="col-md-3">
				<h1 class="titulo" id="titulo">De Turismo por el Eje</h1>
			</div>

			<div class="col-md-1 col-md-offset-7 banner-btn">
				<div id="titulo">
				<br>
				<%= button_to 'Login' ,new_user_session_path, class:"btn btn-default btn-lg" %>
				<!--<h2 id="titulo">Boton1</h2>-->
				</div>
			</div>
			<% if user_signed_in? %>
			<div class="col-md-1 banner-btn">
				<br>
				<div id="titulo">
				<%= button_to 'Salir' ,destroy_user_session_path , :method => :delete ,class:"btn btn-default btn-lg" %>
				<!--<h2 id="titulo">Boton1</h2>-->
				</div> 
				<!--<h2 id="titulo">Boton2</h2>-->
			</div>
			<%end%>
		</div>
	</div>
</div>
<div class="container-fluid">
 <div class="row">
  	<div class="col-md-6 form-group">
    	<label for="exampleSelect2" id="titulo"><h1>Lista de Administradores</h1></label>
    	<select multiple class="form-control" id="exampleSelect2">
      	<option> </option>
      	<option> </option>
      	<option> </option>
      	<option> </option>
      	<option> </option>
    	</select>
  	</div>
  	<div class="col-md-2 col-md-offset-2">
  		<div class="row container-fluid banner-btn">
    	<button class="btn btn-default btn-lg" id="titulo">agregar  </button>
    	</div>
    	<div class="row container-fluid banner-btn">
    	<button class="btn btn-default btn-lg" id="titulo">modificar</button>
    	</div>
    	<div class="row container-fluid banner-btn">
    	<button class="btn btn-default btn-lg" id="titulo">eliminar </button>
    	</div>
  	</div>

 </div>
</div> 
</body>
</html>