<H1>Este es el login</H1>
<%= form_for @Account do |f|%>
	<div class="field">
		<%= f.text_field "Correo" %>
	</div>
	<div class="field">
		<%= f.text_field "contraseña"%>
	</div>
	<div class="field">
		<%= f.submit "Submit", :disable_with => 'Submiting...' %>
	</div>
<%end%> 