<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body class="bodyS">

<div class = "container-fluid" >
	<div class= "container-fluid baner">
		<div class="row">	
			<div class="col-md-3">
				<h1 class="titulo" id="titulo">Turismo</h1>
			</div>

			<div class="col-md-1 col-md-offset-7 banner-btn">
				<div id="titulo">
				<%= button_to 'Volver',nil, class:"btn btn-default btn-lg"  %>
				<!--<h2 id="titulo">Boton1</h2>-->
				</div>
			</div>

			<div class="col-md-1 banner-btn">
				<div id="titulo">
				<%= button_to 'Suscribirse',nil, class:"btn btn-default btn-lg"  %>
				<!--<h2 id="titulo">Boton1</h2>-->
				</div> 
				<!--<h2 id="titulo">Boton2</h2>-->
			</div>

		</div>
	</div>

	<dir class="container-fluid contenido">
		<div class="row">	
			<div class="col-md-6">
				<h1 id="titulo">cositas #1</h1>
			</div>

			<div class="col-md-5 col-md-offset-1">
				<h1 id="titulo">Cositas #2</h1>
			</div>
		</div>


		
	</dir>

</div> 

</body>
</html>