<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<div class="container-fluid"> 
	<h2 class  ="text-left">Turismo Eje Cafetero</h2>
	<br>
	<br>
	<br>
</div>

<div class="row">
  <div class="bg-primary col-sm-2 col-sm-offset-2 col-md-4 col-md-offset-1"> hellow </div>
</div>
<p>Find me in app/views/home/index.html.erb</p>
</body>
</html>
