// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url('https://fonts.googleapis.com/css?family=Lobster');

#titulo {
    font-style: normal;
    font-family: 'Lobster', cursive;
}

#Llogin-lg {
    font-style: normal;
    font-family: 'Lobster', cursive;
    font-size: 50px;
}

#Llogin-md {
    font-style: normal;
    font-family: 'Lobster', cur3ive;
    font-size: 30px;
}


#Llogin-sm {
    font-style: normal;
    font-family: 'Lobster', cursive;
    font-size: 20px;
}

body.body1{
	background-color: #F3FDB0;
}

h1.titulo{
	color: #484835;
}

.principal {
    background-color: #e6ff99;
}

.bd-pageheader {
    padding-top: 4rem;
    padding-bottom: 4rem;
    margin-bottom: 3rem;
    text-align: left;
    background-color: #cc9966;
}

.panel-heading {
    color: #333333;
    background-color: rgba(210, 255, 77, 0.83);
    border-color: #ddd;
}

.panel-body {
    border-color: #ddd;    
}


div.Bloque{
	    margin-bottom: 40px;
}