// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url('https://fonts.googleapis.com/css?family=Lobster');

@-webkit-keyframes movimiento-diagonal {
   from {
      top: 0px;
   }
   
   to {
      top: 40px;
   }
}


body.bodyS{
  background-color: #f7f7f7;
}

h1.Cabecera{
    -webkit-animation-name: movimiento-diagonal;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 2;
    -webkit-animation-direction: alternate;/*para que vuelva a su posicion inicial */
    position: relative;
    color: #333333;
    text-align: center;
}

#Cabecera{

    font-style: normal;
    font-family: 'Lobster', cursive;
    font-size: 65px;

}

#Titulitos{

    font-style: normal;
    font-family: 'Lobster', cursive;
    font-size: 30px;

}

#titulo {
    font-style: normal;
    font-family: 'Lobster', cursive;
}

#Descripcion{
    font-style: normal;
    font-family: 'Kanit', bold;
    font-size: 17px;
    text-align: center;
}

.Cabecera{
    background-color: #ffffff;  
    box-sizing: border-box;
    margin-bottom:30px;

}

h1.titulo{
	color: #333333;
}

.principal {
    background-color: #e6ff99;
}

.bd-pageheader {
    padding-top: 4rem;
    padding-bottom: 4rem;
    margin-bottom: 3rem;
    text-align: left;
    background-color: #cc9966;
}

.panel-heading {
    color: #333333;
    background-color: rgba(210, 255, 77, 0.83);
    border-color: #ddd;
}

.panel-body {
    border-color: #ddd;    
}

.baner{
	background-color: #474747;	
	box-sizing: border-box;
	}

div.Bloque{
	    margin-bottom: 40px;
}

.nav{   
    background-color: #6AC58E;  
    box-sizing: border-box;
    margin-bottom: 40px;
    font-style: normal;
    font-family: 'Lobster', cursive;
    color: #f7f7f7;
}


.banner-btn{
    padding-top: 10px;
    margin-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

body.body-index{
  background-image: url(imagenes/fondo-index.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

}