// Place all the styles related to the Ingreso controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


h1.Cabecera-session{
    -webkit-animation-name: movimiento-diagonal;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 2;
    -webkit-animation-direction: alternate;/*para que vuelva a su posicion inicial */
    position: relative;
    color: #d4d3d3;
    text-align: center;
}

#Cabecera-session{

    font-style: normal;
    font-family: 'Lobster', cursive;
    font-size: 65px;
}

label.texto {
    color: #f7f7f7;
}

div.transbox-session {
    background-color: #3d424e;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 10px;
    padding-right: 10px;
    opacity: 0.6;
    border-radius: 10px;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

body.body-session{
  background-image: url(imagenes/fondo-session.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

}

.Cabecera-session{ 
    box-sizing: border-box;
    margin-top: 30px;
    margin-bottom:30px;

}

