// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Ek+Mukta|Kanit');




#titulo {
    font-style: normal;
    font-family: 'Kanit', bold;
}

#Llogin-lg {
    font-style: normal;
    font-family: 'Kanit', bold;
    font-size: 50px;
}

#Llogin-md {
    font-style: normal;
    font-family: 'Kanit', bold;
    font-size: 30px;
}


#Llogin-sm {
    font-style: normal;
    font-family: 'Kanit', bold;
    font-size: 20px;
}

#Llogin-xs {
    font-style: normal;
    font-family: 'Kanit', bold;
    font-size: 20px;
}

body.body1{
	background-color: #F3FDB0;
}

h1.titulo{
	color: #f7f7f7;
}

h1.center{
    color: #f7f7f7;
}

.principal {
    background-color: #e6ff99;
}

.bd-pageheader {
    padding-top: 4rem;
    padding-bottom: 4rem;
    margin-bottom: 3rem;
    text-align: left;
    background-color: #cc9966;
}

.panel-heading {
    color: #333333;
    background-color: rgba(210, 255, 77, 0.83);
    border-color: #ddd;
}

.panel-body {
    border-color: #ddd;    
}


.btn-color{
   background-color: #37c0fb;
   color: #f7f7f7;
}

div.Bloque{
	    margin-bottom: 40px;
}

.baner-log{
    
}

.body-session {
    background-image: url("imagenes/fondo-session.jpg");

}

.baner-session{
    border-radius: 10px;
    color: #333333;
    text-align: center;
}